doctype html
html
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')

    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')

    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    .container
      .row(style="text-transform: capitalize;")
        .col-12.text-center
          .card
            h2.card-header #{getProduct.category}
            .card-block
              .row
                .col-lg-6.col-md-6.col-sm-12
                  h4 Model : &nbsp;&nbsp;#{getProduct.model}
                .col-lg-6.col-md-6.col-sm-12
                  h4 Seller : &nbsp;&nbsp;#{getProduct.seller}
                .col-lg-6.col-md-6.col-sm-12
                  h4 Color : &nbsp;&nbsp;#{getProduct.productColor}
                br
                br
                .col-lg-6.col-md-6.col-sm-12
                  h4 Category : &nbsp;&nbsp;#{getProduct.category}
                .col-lg-6.col-md-6.col-sm-12
                  h4 Price    : &nbsp;&nbsp;#{getProduct.price}/-
                br
                br
                .col-12.text-center
                  h4 Product Description : &nbsp;&nbsp;#{getProduct.description}
          .card-footer.text-muted
            .row
              .col-lg-4.col-md-4.col-sm-12
                form(method="post",action="http://localhost:3000/users/addCart/#{getProduct._id}")
                  button.btn.btn-primary.btn-lg Add To Cart
              .col-lg-4.col-md-4.col-sm-12
                a.btn.btn-primary.btn-lg(href="/admin/edit/#{getProduct._id}") Edit Info
              .col-lg-4.col-md-4.col-sm-12
                form(method="post",action="http://localhost:3000/admin/delete/#{getProduct._id}")
                  button.btn.btn-primary.btn-lg Delete Product
